<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header"></div>
<title>Home F1</title>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="frame">
    <div class="center-screen">
        <p class="validatorError" th:text="${nameError} != null ? ${nameError} : '' "></p>
        <form action="#" th:action="@{/login}" method="post" th:object="${client}">
            <div class="mb-3">
                <label for="exampleInputName" class="form-label">Email address</label>
                <input name="name" th:field="*{name}" type="text" class="form-control" id="exampleInputName"
                       aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Enter your e-mail address!</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input name="password" th:field="*{password}" type="password" class="form-control"
                       id="exampleInputPassword1">
                <div id="emailHel" class="form-text">Enter your password or
                    <a href="#">register!</a>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
</body>
</html>